@CHARSET "EUC-KR";

div.container {
   padding-top: 30px;
   padding-bottom: 20px;
}

h1{
text-decoration : underline;

}
img{
float: center;
width:850px;
height:500px;
}

#content{
text-align : center;
ling-height : 30px;
background-color : lightgrey;
padding : 20px;
margin : 20px;
border-style:dashed;
border-width:5px;
border-color:pink;
}